[Unit]
Description=Kafka Protocol -> Websocket Server
After=network.target
Requires=network.target

[Service]
Type=simple
Environment="KAFKA_BROKERS=127.0.0.1:9092" "WSS_BIND=127.0.0.1:9980"
EnvironmentFile=-/etc/aiokafka-wss/config.%i
ExecStart=/bin/aiokafka-wss ${KAFKA_BROKERS} ${WSS_BIND}
Restart=on-failure
RestartSec=10
TimeoutSec=300

[Iinstall]
WantedBy=multi-user.target
